<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrdersMapper">

    <sql id="Base_Column_List">
        id,order_no,name,img,price,num,total,status,time,user_id,address,phone,goods_id
    </sql>

    <select id="selectAll" resultType="com.example.entity.Orders">
        select
        orders.*, user.name as userName
        from orders
        left join user
        on orders.user_id = user.id
        <where>
            <if test="orderNo != null"> and orders.order_no = #{orderNo}</if>
            <if test="userName != null"> and user.name like concat('%', #{userName}, '%')</if>
            <if test="userId != null"> and orders.user_id = #{userId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Orders">
        select
        <include refid="Base_Column_List" />
        from orders
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from orders
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="name != null">name,</if>
            <if test="img != null">img,</if>
            <if test="price != null">price,</if>
            <if test="num != null">num,</if>
            <if test="total != null">total,</if>
            <if test="status != null">status,</if>
            <if test="time != null">time,</if>
            <if test="userId != null">user_id,</if>
            <if test="address != null">address,</if>
            <if test="phone != null">phone,</if>
            <if test="goodsId != null">goods_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="name != null">#{name},</if>
            <if test="img != null">#{img},</if>
            <if test="price != null">#{price},</if>
            <if test="num != null">#{num},</if>
            <if test="total != null">#{total},</if>
            <if test="status != null">#{status},</if>
            <if test="time != null">#{time},</if>
            <if test="userId != null">#{userId},</if>
            <if test="address != null">#{address},</if>
            <if test="phone != null">#{phone},</if>
            <if test="goodsId != null">#{goodsId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Orders">
        update orders
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="total != null">
                total = #{total},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>